{% extends 'base.html.twig' %}

{% block title %}Nouveau projet - TaskLinker
{% endblock %}

{% block header %}
	<main>
		<header>
			<div id="current-user"></div>
			<div id="title-page">
				<h1>Nouveau projet</h1>
			</div>
		</header>
	{% endblock %}

{% block body %}
<div id="content">
    <section id="add">
        <a href="{{ path('app_team') }}">← Retour</a>

        {{ form_start(form, {'attr': {'name': 'task'}}) }}

        <div>
            <label for="{{ form.title.vars.id }}" class="required">Titre de la tâche</label>
            {{ form_widget(form.title, {'attr': {'id': form.title.vars.id, 'required': true}}) }}
        </div>

        <div>
            <label for="{{ form.description.vars.id }}">Description</label>
            {{ form_widget(form.description, {'attr': {'id': form.description.vars.id}}) }}
        </div>

        <div>
            <label for="{{ form.deadline.vars.id }}">Date</label>
            {{ form_widget(form.deadline, {'attr': {'id': form.deadline.vars.id}}) }}
        </div>

        <div>
            <label for="{{ form.status.vars.id }}" class="required">Statut</label>
            {{ form_widget(form.status, {'attr': {'id': form.status.vars.id, 'required': true}}) }}
        </div>

        <div class="input">
            <label for="{{ form.employee.vars.id }}">Membre</label>
            {{ form_widget(form.employee) }}
        </div>

        <br>
        <button class="button button-submit">Ajouter</button>

        {{ form_end(form) }}
    </section>
</div>
{% endblock %}

