{% extends 'base.html.twig' %}

{% block title %}
	{{ project.title }}
	-
	{{ parent() }}
{% endblock %}


{% block header %}
	<main>
		<header>
			<div id="title-page" class="flex-header">
				<h1>{{ project.title }}</h1>

				<div class="user-list">
					{% for user in users %}
						<div class="avatar">{{ user.firstname|first ~ user.lastname|first }}</div>
					{% else %}
						<div>Aucun employé assigné</div>
					{% endfor %}
				</div>

				<a class="button" href="#">Modifier</a>
			</div>
		</header>
	{% endblock %}

	{% block body %}

		<div
			id="tasks-container">
			<!-- To Do -->
			<div class="task-column">
				<h2>To Do</h2>
				<div class="tasks-list">
					{% for task in project.tasks %}
						{% if task.status == 'todo' %}
							<a class="task" href="#">
								<h3>{{ task.title }}</h3>
								<p>{{ task.description }}</p>
								<div class="task-infos">
									<div class="task-deadline">
										<i class="fa-regular fa-calendar"></i>
										{{ task.deadline|date('d/m/Y') }}
									</div>
									<div class="mini-user">{{ task.employee.firstname|first ~ task.employee.lastname|first }}</div>
								</div>
							</a>
						{% endif %}
					{% endfor %}
					<a href="tache-add.html" class="task-add">+ Ajouter une tâche</a>
				</div>
			</div>

			<!-- Doing -->
			<div class="task-column">
				<h2>Doing</h2>
				<div class="tasks-list">
					{% for task in project.tasks %}
						{% if task.status == 'doing' %}
							<a class="task" href="#">
								<h3>{{ task.title }}</h3>
								<p>{{ task.description }}</p>
								<div class="task-infos">
									<div class="task-deadline">
										<i class="fa-regular fa-calendar"></i>
										{{ task.deadline|date('d/m/Y') }}
									</div>
									<div class="mini-user">{{ task.employee.firstname|first ~ task.employee.lastname|first }}</div>
								</div>
							</a>
						{% endif %}
					{% endfor %}
					<a href="tache-add.html" class="task-add">+ Ajouter une tâche</a>
				</div>
			</div>

			<!-- Done -->
			<div class="task-column">
				<h2>Done</h2>
				<div class="tasks-list">
					{% for task in project.tasks %}
						{% if task.status == 'done' %}
							<a class="task" href="#">
								<h3>{{ task.title }}</h3>
								<p>{{ task.description }}</p>
								<div class="task-infos">
									<div class="task-deadline">
										<i class="fa-regular fa-calendar"></i>
										{{ task.deadline|date('d/m/Y') }}
									</div>
									<div class="mini-user">{{ task.employee.firstname|first ~ task.employee.lastname|first }}</div>
								</div>
							</a>
						{% endif %}
					{% endfor %}
					<a href="tache-add.html" class="task-add">+ Ajouter une tâche</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
