{% extends 'base.html.twig' %}

{% block title %}
    {{ project.title }}
	-
	{{ parent() }} - TaskLinker
{% endblock %}

{% block header %}
    <div id="current-user">
		<div id="title-page">
			<h1>{{ project.title }}</h1>
		</div>
	</div>
{% endblock %}

{% block body %}
<div id="content">
			<section id="add">
				<a href="{{ path('app_home') }}" class="btn-return"> Retour</a>

				{{ form_start(form, {'attr': {'name': 'project'}}) }}

				<div>
					<label for="{{ form.title.vars.id }}" class="required">Titre du projet</label>
					{{ form_widget(form.title, {'attr': {'id': form.title.vars.id, 'required': true}}) }}
					{{ form_errors(form.title) }}
				</div>

				<div class="input">
                    <label for="{{ form.employees.vars.id }}">Inviter des membres</label>
                    {{ form_widget(form.employees) }}
					{{ form_errors(form.employees) }}
                </div>
				<br>

				<button class="button button-submit">Modifier</button>

				{{ form_end(form) }}
			</section>
		</div>
{% endblock %}
